<section class="geka-news">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 mb80">
				<h2 class="geka-news__title">latest news</h2>
			</div>
			<div class="col">
				<div class="geka-news__slider">
					<div class="geka-news__slide-wrapper">
						<div class="geka-news__slide">
							<div class="row">
								<div class="col">
									<div class="padding-hack">
										<img src="../img/news-item1.jpg" alt="img" class="img">
									</div>
									<div class="geka-news__slide-info">
										<div class="geka-news__heading">See The Unmatched Beauty Of The Great.</div>
										<div class="geka-news__text">Free directories: directories are perfect for customers that are...</div>
										<div class="row geka-news__author">
											<div class="col-3">
												<div class="padding-hack">
													<img src="../img/news-photo1.png" alt="img" class="img">
												</div>
											</div>
											<div class="col-6 geka-news__user-info">
												<div class="geka-news__name">ISAAC DUNN</div>
												<div class="geka-news__date">09 Feb 2017</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="geka-news__slide-wrapper">
						<div class="geka-news__slide">
							<div class="row">
								<div class="col">
									<div class="padding-hack">
										<img src="../img/news-item2.jpg" alt="img" class="img">
									</div>
									<div class="geka-news__slide-info">
										<div class="geka-news__heading">Effective Advertising Pointers.</div>
										<div class="geka-news__text">Having a home based business is a wonderful asset to your life...</div>
										<div class="row geka-news__author">
											<div class="col-3">
												<div class="padding-hack">
													<img src="../img/news-photo2.png" alt="img" class="img">
												</div>
											</div>
											<div class="col-8 geka-news__user-info">
												<div class="geka-news__name">DOMINIC FREEMAN</div>
												<div class="geka-news__date">24 Apr 2017</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="geka-news__slide-wrapper">
						<div class="geka-news__slide">
							<div class="row">
								<div class="col">
									<div class="padding-hack">
										<img src="../img/news-item3.jpg" alt="img" class="img">
									</div>
									<div class="geka-news__slide-info">
										<div class="geka-news__heading">Hypnotize Yourself Into The Ghost.</div>
										<div class="geka-news__text">There are many things that are important to catalog design....</div>
										<div class="row geka-news__author">
											<div class="col-3">
												<div class="padding-hack">
													<img src="../img/news-photo3.png" alt="img" class="img">
												</div>
											</div>
											<div class="col-6 geka-news__user-info">
												<div class="geka-news__name">ALICE WARD</div>
												<div class="geka-news__date">30 Dec 2017</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="geka-news__slide-wrapper">
						<div class="geka-news__slide">
							<div class="row">
								<div class="col">
									<div class="padding-hack">
										<img src="../img/news-item1.jpg" alt="img" class="img">
									</div>
									<div class="geka-news__slide-info">
										<div class="geka-news__heading">See The Unmatched Beauty Of The Great.</div>
										<div class="geka-news__text">Free directories: directories are perfect for customers that are... searching for</div>
										<div class="row geka-news__author">
											<div class="col-3">
												<div class="padding-hack">
													<img src="../img/news-photo1.png" alt="img" class="img">
												</div>
											</div>
											<div class="col-6 geka-news__user-info">
												<div class="geka-news__name">ISAAC DUNN</div>
												<div class="geka-news__date">09 Feb 2017</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="geka-news__slide-wrapper">
						<div class="geka-news__slide">
							<div class="row">
								<div class="col">
									<div class="padding-hack">
										<img src="../img/news-item2.jpg" alt="img" class="img">
									</div>
									<div class="geka-news__slide-info">
										<div class="geka-news__heading">Effective Advertising Pointers.</div>
										<div class="geka-news__text">Having a home based business is a wonderful asset to your life...</div>
										<div class="row geka-news__author">
											<div class="col-3">
												<div class="padding-hack">
													<img src="../img/news-photo2.png" alt="img" class="img">
												</div>
											</div>
											<div class="col-8 geka-news__user-info">
												<div class="geka-news__name">DOMINIC FREEMAN</div>
												<div class="geka-news__date">24 Apr 2017</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>