@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i");
/* Slider */
.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-ms-touch-action: pan-y;
	    touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Slider */
.slick-loading .slick-list {
	background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
	font-family: "slick";
	src: url("./fonts/slick.eot");
	src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: .25;
}
.slick-prev:before,
.slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: .75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}
[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}
.slick-prev:before {
	content: "←";
}
[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: -25px;
}
[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}
.slick-next:before {
	content: "→";
}
[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: .25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	color: black;
	opacity: .75;
}

.slick-next,
.slick-prev {
	width: 40px;
	height: 40px;
	border: 1px solid #68d3f7;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.slick-next::before,
.slick-prev::before {
	content: "";
	height: 8px;
	width: 8px;
	border-top: 2px solid white;
}

.slick-next {
	right: -85px;
}
.slick-next::before {
	border-right: 2px solid white;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.slick-prev {
	left: -85px;
}
.slick-prev::before {
	border-left: 2px solid white;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.slick-dots li button:before {
	content: "";
}

.slick-dots li {
	border-radius: 50%;
	border: 1px solid white;
	width: 13px;
	height: 13px;
}

.slick-dots {
	bottom: -75px;
}

li.slick-active {
	background-color: white;
}

@font-face {
	font-family: "Gotham-Medium";
	src: url("../fonts/GothamMedium.ttf");
}

@font-face {
	font-family: "Gotham-Bold";
	src: url("../fonts/gothambold.ttf");
}

@font-face {
	font-family: "Gotham-Book";
	src: url("../fonts/GothamBook.ttf");
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: black;
}

.geka-news {
	min-height: 100vh;
	padding: 170px 0;
	background: url("../img/Bg.jpg") no-repeat center;
	background-size: cover;
}
.geka-news__title {
	font-family: "Gotham-Medium", sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
}
.geka-news__title::before {
	content: "";
	width: 100px;
	height: 1px;
	position: absolute;
	background-color: white;
	-webkit-transform: translateX(50%);
	        transform: translateX(50%);
	right: 50%;
	top: -40px;
}
.geka-news__slide-wrapper {
	padding: 0 10px;
	max-width: 370px;
	width: 100%;
}
.geka-news__slide {
	background-color: #fff;
}
.geka-news .padding-hack {
	position: relative;
	padding-top: 65%;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	margin-right: 0;
}
.geka-news .padding-hack > .img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.geka-news__slide-info {
	padding: 18px;
}
.geka-news__heading {
	font-family: "Gotham-Bold", sans-serif;
	font-size: 22px;
	line-height: 34px;
	color: #2c4058;
	text-transform: uppercase;
	margin-bottom: 5px;
}
@media all and (min-width: 320px) and (max-width: 768px) {
	.geka-news__heading {
		text-align: center;
		font-size: 18px;
	}
}
.geka-news__text {
	font-family: "OpenSans", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #4b5562;
}
@media all and (min-width: 320px) and (max-width: 768px) {
	.geka-news__text {
		text-align: center;
	}
}
.geka-news__author {
	padding-top: 30px;
}
.geka-news__author .padding-hack {
	position: relative;
	padding-top: 100%;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	margin-right: 0;
}
.geka-news__author .padding-hack > .img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.geka-news__name {
	font-family: "Gotham-Book", sans-serif;
	font-size: 18px;
	color: #2c4058;
	margin-bottom: 3px;
}
.geka-news__date {
	font-family: "Gotham-Book", sans-serif;
	font-size: 14px;
	color: #55b7ff;
}
.geka-news__user-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.geka-news .mb80 {
	margin-bottom: 80px;
}
