@import "vars1";
@import "slick";
@import "slick-theme";
@import "mixins";

@font-face { 
	font-family: 'Gotham-Medium';  
	src: url('../fonts/GothamMedium.ttf'); 
}

@font-face { 
	font-family: 'Gotham-Bold';  
	src: url('../fonts/gothambold.ttf'); 
}
@font-face { 
	font-family: 'Gotham-Book';  
	src: url('../fonts/GothamBook.ttf'); 
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

.geka-news {
	min-height: 100vh;
	padding: 170px 0;
	background: url("../img/Bg.jpg") no-repeat center;
	background-size: cover;

	&__title {
		font-family: "Gotham-Medium", sans-serif;
		font-size: $large-size;
		text-transform: uppercase;
		color:$white;
		text-align: center;
		position: relative;

		&::before {
			content: "";
			width: 100px;
			height: 1px;
			position:absolute;
			background-color: white;
			transform:translateX(+50%);
			right:50%;
			top:-40px;
		}
	}

	&__slide-wrapper {
		padding: 0 10px;
		max-width: 370px;
		width: 100%;
	}

	&__slide {
		background-color: $white;
	}

	@include padding-hack(65);

	&__slide-info {
		padding: 18px;
	}

	&__heading {
		font-family: "Gotham-Bold", sans-serif;
		font-size: 22px;
		line-height: 34px;
		color:#2c4058;
		text-transform: uppercase;
		margin-bottom: 5px;

		@media all and (min-width: 320px) and(max-width: 768px)  {
			text-align: center;
			font-size: 18px;
		}
	}

	&__text {
		font-family: "OpenSans", sans-serif;
		font-size: 18px;
		line-height: 30px;
		color:#4b5562;

		@media all and (min-width: 320px) and (max-width: 768px) {
			text-align: center;
		}
	}

	&__author {
		padding-top: 30px;

		@include padding-hack();
	}

	&__name {
		font-family: "Gotham-Book", sans-serif;
		font-size: 18px;
		color:#2c4058;
		margin-bottom: 3px;
	}

	&__date {
		font-family: "Gotham-Book", sans-serif;
		font-size: 14px;
		color:#55b7ff;
	}

	&__user-info {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.mb80 {
		margin-bottom: 80px;
	}
}